.beer-list {
    @extend .manager-component-bottom;

    h3 {
        color: white;
        font-weight: 300;
        margin: 10px;
        text-align: center;
        font-size: $m-size;

        span {
            color: $light-grey;
            font-size: $s-size;
        }
    }
}

.beer-list__inactive {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.beer-list__active {
    @extend .beer-list__inactive;
    border-right: 1px solid lighten($dark-grey, 10%);
}

.beer-list__items {
    overflow-y: scroll;
    margin: 10px 0;
    height: 70%;
}

.beer-list__bar {
    @extend .manager-list__bar;
}

.beer-list__search-bar {
    @extend .manager-list__search-bar;
}