.btn {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background: $darker-grey;
    color: $light-grey;
    border: 1px solid lighten($darker-grey, 15%);
    border-radius: 7px;
    outline: none;
    transition: 0.2s;
    font-family: 'Lato', Arial, sans-serif;
    font-size: $s-size;
    font-weight: 300;

    &:hover {
        color: $orange;
    }
}

.btn--modal {
    @extend .btn;
    display: block;
    background: $grey;
}

.btn--dialog {
    @extend .btn;
    background: $grey;
    margin: 30px 10px !important;
}

.btn--pagination {
    @extend .btn;
    width: 100px;
    height: 30px;
}

.btn--pagination--disabled {
    @extend .btn;
    width: 100px;
    height: 30px;
    background: lighten($darker-grey, 5%);
    cursor: not-allowed;
    &:hover {
        color: $light-grey;
    }
}