.beer-btn {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background: $darker-grey;
    color: $light-grey;
    border: 1px solid lighten($darker-grey, 15%);
    border-radius: 7px;
    outline: none;
    transition: 0.2s;
    font-family: 'Lato', Arial, sans-serif;
    font-size: $s-size;
    font-weight: 300;

    &:hover {
        color: $orange;
    }
}

.beer-btn--modal {
    @extend .beer-btn;
    display: block;
    background: $grey;
}

.beer-btn--dialog {
    @extend .beer-btn;
    background: $grey;
    margin: 30px 10px !important;
}