.header {
	padding-top: 5px;
	height: 10%;
}

.header__content {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: $s-size 0;
}

.header__title {
	color: white;
	text-decoration: none;
	h1 {
	margin: 0;
	}
}

.header__link {
	color: white;
	text-decoration: none;
	font-weight: 300;
	transition: 0.2s;
	border-bottom: 1px solid lighten($dark-grey, 10%);
	padding: 0 10px;
	&:nth-child(1) {
		margin-left: 50px;
		border-color: $orange;
	}
	&:nth-child(2) {
		margin-left: auto;
	}
	&:hover {
		border-color: $orange;
	}
}
