.manager-panel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/beer-bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.manager-content {
    display: flex;
    flex-direction: row;
    height: 90%;
    margin: 0 20px;
}

.manager-content__left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.manager-content__right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

// Components styles that can be extended
.manager-component-top {
    width: 96%;
    height: 55%;
    background-color: rgba($dark-grey, 0.95);
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid lighten($dark-grey, 10%);
    border-radius: 5px;
}

.manager-component-bottom {
    width: 96%;
    height: 45%;
    background-color: rgba($dark-grey, 0.95);
    margin: 30px auto;
    color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid lighten($dark-grey, 10%);
    border-radius: 5px;
}

.manager-list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 300;
    font-size: $s-size;
    margin: 10px 20px;
    padding: 5px 20px;
    border:  1px solid lighten($dark-grey, 15%);
    border-radius: 7px;

    ion-icon {
        color: $orange;
        font-size: $m-size;
        cursor: pointer;
        transition: 0.4s;
        opacity: 0; 
        height: 0;
        width: 0;
        overflow: hidden;
    }

    >div {
        display: flex;
        flex-direction: row;
    }

    &:hover {
        ion-icon {
            opacity: 1;
            height: auto;
            width: $m-size;
            margin: 0 10px;
        }
    }
}

.manager-list__bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 40px;
    z-index: 1;
    margin-bottom: 5px;
}

.manager-list__search-bar {
    width: 60%;
    height: 40px;
    padding: 5px 15px;
    border:  1px solid lighten($dark-grey, 15%);
    border-radius: 7px;
    background: lighten($dark-grey, 10%);
    outline: none;
    color: $light-grey;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    font-size: $s-size;
    margin: 0 10px;
}