.modal {
    background: $modal-grey;
    
    h3 {
        text-align: center;
        color: white;
        font-weight: 300;
    }

    form {
        display: block;
        margin: auto;
        width: 300px;

        input {
            width: 300px;
            height: 30px;
            padding: 5px 15px;
            margin-bottom: 10px;
            border: 1px solid darken(grey, 10%);
            border-radius: 5px;
            background-color: $grey;
            outline: none;
            color: white;
            font-weight: 300;
            font-family: 'Lato', Arial, sans-serif;
            font-size: $s-size;
        }
    }

    .count-input {
        width: 120px;
        display: block;
        margin: auto;
    }

    button {
        margin: 30px auto;
        border: 1px solid darken(grey, 10%);
    }

    // Dropdown
    .css-10nd86i {
        width: 100%;
        font-size: $s-size;
        margin: 0px auto 30px;
        font-weight: 300;
        font-family: 'Lato', Arial, sans-serif;

        .css-1oubc3t {
            background: $grey !important;
            border: 1px solid $modal-grey;
            border-radius: 5px;
        }

        .css-143htmq {
            background: $grey !important;
            border-radius: 5px;
        }

        .css-xp4uvy {
            color: white;
        }

        .css-1ieshug {
            background: $grey !important;
            color: white;
        }

        .css-19qxxs {
            background: $grey !important;
            color: white;

            .css-11unzgr {
                >div {
                    border: 1px solid $grey;
                    border-radius: 5px;
                    margin: 5px auto;
                    width: 90%;
                    transition: 0.2s;
                    &:hover {
                        cursor: pointer;
                        border: 1px solid $modal-grey;
                    }
                    &:active {
                        background: $modal-grey;
                    }
                }
            }
        }
    }
}

.ReactModal__Overlay {
    background: rgba(177, 177, 177, 0.75) !important;
    z-index: 2;
}

.ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 500px;
    outline: none;
    border: 1px solid lighten($darker-grey, 15%);
    border-radius: 10px;
}

.modal__dialog-header {
    text-align: center;
    color: white;
    font-weight: 300;
    margin: 15px;
    font-size: $dialog-header-size;
}

.modal__dialog-btn-container {
    display: flex;
    justify-content: center;
}

.modal-message--success {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #009688;
    text-align: center;
    width: 300px;
    margin: 20px auto 0;
    padding: 5px;
    border-radius: 5px;
    font-weight: 300;
    font-size: $modal-message-size;
    color: $light-grey;
}

.modal-message--error {
    @extend .modal-message--success;
    background-color: #EF5350;
}