.zbir-logo {
    @extend .manager-component-bottom;
    flex-direction: column;
    justify-content: space-around;

    img {
        height: 180px;
        display: block;
        margin: auto;
    }
}

.zbir-logo__date {
    margin: auto;
    font-weight: 300;
}