// Colors
$dark-grey: #333;
$darker-grey: #2c2c2c;
$light-grey: #cccccc;
$off-white: #f7f7f7;
$orange: #fcb941;

// Font Size
$font-size-large: 30px;
$font-size-small: 22px;

// Spacing
$s-size: 18px;
$m-size: 24px;
$l-size: 50px;
$xl-size: 75px;
$desktop-breakpoint: 768px;
